<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>Homepage</title>
  </head>
  <body>
    <form method="POST" action="/cars/create">
      <label for="brand">Brand:</label>
      <input id="brand" type="text" name="brand" placeholder="Toyota" /><br />

      <label for="model">Model:</label>
      <input id="model" type="text" name="model" placeholder="Camry" /><br />

      <label for="year">Tahun:</label>
      <input id="year" type="text" name="year" placeholder="2004" /><br />
      <input type="submit" value="Create car" />
    </form>
  </body>
</html>
